<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NexiaCoin</title>
  <link rel="shortcut icon" type="image/png" href="/" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/themify-icons/css/themify-icons.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
    
   
    

  
    <!-- Include Tailwind CSS -->
  <script type="text/javascript">
    window.tailwind.config = {
      darkMode: ['class'],
      theme: {
        extend: {
          colors: {
            border: 'hsl(var(--border))',
            input: 'hsl(var(--input))',
            ring: 'hsl(var(--ring))',
            background: 'hsl(var(--background))',
            foreground: 'hsl(var(--foreground))',
            primary: {
              DEFAULT: 'hsl(var(--primary))',
              foreground: 'hsl(var(--primary-foreground))'
            },
            secondary: {
              DEFAULT: 'hsl(var(--secondary))',
              foreground: 'hsl(var(--secondary-foreground))'
            },
            destructive: {
              DEFAULT: 'hsl(var(--destructive))',
              foreground: 'hsl(var(--destructive-foreground))'
            },
            muted: {
              DEFAULT: 'hsl(var(--muted))',
              foreground: 'hsl(var(--muted-foreground))'
            },
            accent: {
              DEFAULT: 'hsl(var(--accent))',
              foreground: 'hsl(var(--accent-foreground))'
            },
            popover: {
              DEFAULT: 'hsl(var(--popover))',
              foreground: 'hsl(var(--popover-foreground))'
            },
            card: {
              DEFAULT: 'hsl(var(--card))',
              foreground: 'hsl(var(--card-foreground))'
            },
          },
        }
      }
    }
    
  </script>
  <style type="text/tailwindcss">
    @layer base {
      :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 20 14.3% 4.1%;
        --radius: 0.95rem;
      }
      .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 35.5 91.7% 32.9%;
      }
    }
    
    
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }
    .animate-blink {
        animation: blink 2s infinite;
    }

    .blinking-dot {
  width: 10px; /* Adjust the size of the dot */
  height: 10px; /* Adjust the size of the dot */
  background-color: green; /* Green color for the dot */
  border-radius: 50%; /* Make it a circle */
  animation: blink-animation 2s infinite; /* Blinking animation */
}

/* Blinking Animation */
@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}









  </style>
</style>

</head>


<body>
  <!--  Body Wrapper -->
  
  <div class="bg-gray-800 page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class=" bg-gray-800 left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="bg-gray-800 brand-logo d-flex align-items-center justify-content-between">
          <a href="/" class="text-3xl font-extrabold">
            <span class="text-white">Nexia</span><span class="text-yellow-500">Coin</span>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="bg-gray-800 text-white w-64 h-screen shadow-lg overflow-y-auto">
          <ul class=" mt-4 space-y-2">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='dashboardicon.png') }}" alt="dashboard" class="w-5 h-5">
                <span class="ms-3">Dashboard</span>
              </a>
            </li>
            
            <li>
              <button type="button" class="flex items-center w-full p-2 text-base text-gray-300 transition duration-75 rounded-lg group hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                <img src="{{ url_for('static', filename='walleticon.PNG') }}" alt="wallet" class="w-5 h-5">
                <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Wallet</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </button>
              <ul id="dropdown-example" class="hidden py-2 space-y-2 bg-gray-800">
                <li>
                  <a href="/deposit" class="flex items-center w-full p-2 text-gray-300 transition duration-75 rounded-lg pl-11 group hover:bg-gray-700">Deposit</a>
                </li>
                <li>
                  <a href="/p2pbuy" class="flex items-center w-full p-2 text-gray-300 transition duration-75 rounded-lg pl-11 group hover:bg-gray-700">Transfer</a>
                </li>
              </ul>
            </li>
            
            <li>
              <a href="/rewards" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='rewardsicon.png') }}" alt="rewards" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Rewards</span>
                <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-white bg-blue-500 rounded-full">
                  New
                </span>
              </a>
            </li>
            
            <li>
              <a href="/market" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='marketicon.png') }}" alt="market" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Market</span>
                <!-- Green Blinking Dot -->
                <div class="blinking-dot ms-3"></div>
              </a>
            </li>
            
            <li>
              <a href="/p2pbuy" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='tradingicon.png') }}" alt="trading" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Trading</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='analyticsicon.png') }}" alt="analytics" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Analytics and Tools</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='staking.png') }}" alt="staking" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Staking & Earning</span>
              </a>
            </li>
            
            <li>
              <a href="/borrow" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='loanicon.png') }}" alt="loan" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Crypto Loans</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='newsicon.png') }}" alt="news" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">News</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='eduicon.png') }}" alt="education" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Education</span>
              </a>
            </li>
            
            <li>
              <a href="/community" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='webinaricon.png') }}" alt="webinar" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Community</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='supporticon.png') }}" alt="support" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Support</span>
              </a>
            </li>
            
            <li>
              <a href="#" class="flex items-center p-2 text-gray-300 rounded-lg hover:bg-gray-700 group">
                <img src="{{ url_for('static', filename='referralicon.png') }}" alt="referral" class="w-5 h-5">
                <span class="flex-1 ms-3 whitespace-nowrap">Referral Program</span>
              </a>
            </li>
          </ul>
        
          <div class="px-6 py-4">
            <a href="#" class="block px-6 py-3 flex items-center hover:bg-gray-700 rounded-md transition-colors duration-300">
              <span class="font-medium text-gray-300"></span>
            </a>
          </div>
        </nav>
        
        
        
        
        
        
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper bg-gray-800">
      <!--  Header Start -->
      <header class="app-header bg-gray-800">
        <nav class="navbar navbar-expand-lg navbar-light bg-gray-800">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover text-gray-300 hover:text-white" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
      
            <li class="nav-item dropdown">
              <!-- Mail Icon -->
              <a href="#" class="nav-link position-relative text-gray-300 hover:text-white" id="mail-drop" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- Mail SVG Icon -->
                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17.9028 8.85107L13.4596 12.4641C12.6201 13.1301 11.4389 13.1301 10.5994 12.4641L6.11865 8.85107"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.9089 21C19.9502 21.0084 22 18.5095 22 15.4384V8.57001C22 5.49883 19.9502 3 16.9089 3H7.09114C4.04979 3 2 5.49883 2 8.57001V15.4384C2 18.5095 4.04979 21.0084 7.09114 21H16.9089Z"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
      
                <!-- Notification Count (Badge) -->
                <span style="position: relative; display: inline-block;">
                  <!-- The main content here -->
                  <span style="position: absolute; font-family: sans-serif; top: -17px; width: 14px; height: 14px; background-color: rgba(255, 0, 0, 0.836); border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 10px; color: white; font-weight: bold;">
                    1
                  </span>
                </span>
              </a>
      
              <!-- Dropdown Menu -->
              <div class="dropdown-menu p-3 bg-gray-800 text-white" aria-labelledby="mail-drop">
                <!-- Dropdown Item -->
                <span class="dropdown-item-text text-gray-200">Welcome to NexiaCoin, enjoy bonus and low fees</span>
              </div>
            </li>
          </ul>
      
          <div class="bg-gray-800 navbar-collapse flex justify-end px-0">
            <ul class=" bg-gray-800 navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <!-- Username Display -->
              <span class="font-medium text-gray-300 hover:text-white">
                Username
              </span>
      
              <!-- Profile Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover text-gray-300 hover:text-white" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../assets/images/profile/user-1.jpg" alt="Profile Picture" width="35" height="35" class="rounded-circle border border-gray-500 hover:border-yellow-500" />
                </a>
      
                <!-- Dropdown Menu -->
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up bg-gray-800 text-white" aria-labelledby="drop2">
                  <div class="message-body">
                    <!-- My Profile -->
                    <a href="/myprofile" class="d-flex align-items-center gap-2 dropdown-item hover:bg-gray-700 transition text-gray-200">
                      <i class="ti ti-user text-yellow-500"></i>
                      <p class="mb-0 text-base">My Profile</p>
                    </a>
      
                    <!-- My Account -->
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item hover:bg-gray-700 transition text-gray-200">
                      <i class="ti ti-mail text-yellow-500"></i>
                      <p class="mb-0 text-base">My Account</p>
                    </a>
      
                    <!-- My Task -->
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item hover:bg-gray-700 transition text-gray-200">
                      <i class="ti ti-list-check text-yellow-500"></i>
                      <p class="mb-0 text-base">My Task</p>
                    </a>
      
                    <!-- Logout Button -->
                    <a href="/authentication-login" class="btn btn-outline-primary mx-3 mt-2 d-block bg-red-500 text-white font-semibold rounded-md hover:bg-red-600 transition">
                      Logout
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      
      <!--  Header End -->
        
      <div class="bg-gray-800 p-6">
        <div class="">
            <div class="mb-4">
              <div class="card">
              
                <h1 class="text-2xl font-semibold">My Assets</h1>
            </div>
            <div class="p-6 bg-card text-card-foreground rounded-md">
              <div class="flex items-center space-x-2">
                  <img src="{{ url_for('static', filename='announcement.PNG') }}" alt="Announcement Icon" class="w-8 h-8">
                  <span class="text-gray-800 font-semibold font-sans text-sm text-xs md:text-sm">
                      Username, get a $25 top-up to your balance on your first deposit above $100
                      <span class="relative inline-flex items-center justify-center">
                          <sup class="right-0 top-1 transform translate-x-1/2 -translate-y-1/2 w-2.5 h-2.5 bg-red-500 rounded-full animate-blink"></sup>
                      </span>
                  </span>
              </div>
          </div>
          
          
          </div>
            
            
          
              
              
         
          
          
          
            
        <!--  Row 1 -->
        <div class="row bg-gray-800">
          <div class="col-lg-8 flex flex-col space-y-6">
            <div class="bg-gray-800 shadow-lg rounded-lg p-6">
              <div class="flex justify-between items-center mb-4">
                <h2 class="text-2xl font-bold text-white">Funding Account</h2>
                <button class="bg-primary text-white py-2 px-4 rounded-lg hover:bg-primary/80">Manage</button>
              </div>
              <div class="text-white space-y-4">
                <div>
                  <p class="text-xl font-sans font-bold">
                    $125.00
                    <span class="text-lg font-sans font-bold"></span>
                    <span class="text-muted-foreground text-sm font-sans font-bold">≈ 0.00000000 BTC</span>
                  </p>
                </div>
                <div>
                  <p class="text-white">Available Balance</p>
                  <p class="text-xl font-sans font-bold">
                    $125.00 <span class="text-lg font-bold"></span>
                    <span class="text-muted-foreground text-sm font-bold">≈ 0.00000000 BTC</span>
                  </p>
                </div>
              </div>
              <div class="mt-6 flex space-x-4">
                <a href="/deposit" class="bg-primary text-primary-foreground px-4 py-2 rounded-lg hover:bg-primary/80">Deposit</a>
                <button class="bg-secondary text-secondary-foreground border border-border px-4 py-2 rounded-lg hover:bg-secondary/80">Transfer</button>
              </div>
            </div>
          
            <div class="bg-gray-800 shadow-lg rounded-lg p-6">
              <h5 class="text-2xl font-semibold text-white mb-4">Borrow Crypto</h5>
              <div class="flex flex-wrap items-center">
                <div class="w-full md:w-2/3 mb-4">
                  <h4 class="font-semibold mb-3 text-white">Amount borrowed: $0.00
                    <a href="/borrow" class="bg-primary text-white py-1 px-3 rounded-lg hover:bg-primary/80">Borrow</a>
                  </h4>
                  <div class="flex items-center mb-3">
                    <span class="mr-2 rounded-full bg-green-100 w-5 h-5 flex items-center justify-center">
                      <i class="ti ti-arrow-up-left text-green-600"></i>
                    </span>
                    <p class="text-gray-300 mr-2 text-lg mb-0">0%</p>
                    <p class="text-gray-300 text-lg mb-0">Since you joined</p>
                  </div>
                  <div class="flex items-center">
                    <div class="mr-4">
                      <span class="w-2 h-2 bg-blue-500 rounded-full inline-block mr-2"></span>
                      <span class="text-lg text-gray-300">BTC</span>
                    </div>
                    <div>
                      <span class="w-2 h-2 bg-blue-100 rounded-full inline-block mr-2"></span>
                      <span class="text-lg text-gray-300">Other Assets</span>
                    </div>
                  </div>
                </div>
                <div class="relative w-full md:w-1/3">
                  <div class="flex items-center justify-center h-30 bg-gray-700 p-4 rounded-lg shadow-md cursor-pointer" onclick="togglePopup()">
                    <svg viewBox="0 0 100 60" class="w-full h-full">
                      <text x="50" y="12" class="fill-white-800 text-white" text-anchor="middle" style="font-size: 8px;">Click to view</text>
                      <line x1="0" y1="20" x2="100" y2="20" class="stroke-gray-300" />
                      <line x1="0" y1="30" x2="100" y2="30" class="stroke-gray-300" />
                      <line x1="0" y1="40" x2="100" y2="40" class="stroke-gray-300" />
                      <line x1="0" y1="50" x2="100" y2="50" class="stroke-gray-300" />
                      <line x1="0" y1="60" x2="100" y2="60" class="stroke-black" />
                      <line x1="0" y1="20" x2="0" y2="60" class="stroke-black" />
                      <path d="M0 60 L10 60 L20 60 L30 60 L40 60 L50 60 L60 60 L70 60 L80 60 L90 60 L100 60" class="fill-none stroke-red-500 stroke-2" />
                      <circle cx="0" cy="60" r="1" class="fill-red-500" />
                      <circle cx="10" cy="60" r="1" class="fill-red-500" />
                      <circle cx="20" cy="60" r="1" class="fill-red-500" />
                      <circle cx="30" cy="60" r="1" class="fill-red-500" />
                      <circle cx="40" cy="60" r="1" class="fill-red-500" />
                      <circle cx="50" cy="60" r="1" class="fill-red-500" />
                      <circle cx="60" cy="60" r="1" class="fill-red-500" />
                      <circle cx="70" cy="60" r="1" class="fill-red-500" />
                      <circle cx="80" cy="60" r="1" class="fill-red-500" />
                      <circle cx="90" cy="60" r="1" class="fill-red-500" />
                      <circle cx="100" cy="60" r="1" class="fill-red-500" />
                    </svg>
                  </div>
                  <div id="popup-box" class="absolute inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden">
                    <div class="bg-white p-4 rounded-lg shadow-lg max-w-sm mx-auto text-center">
                      <p class="text-gray-800">$0.0 spent so far</p>
                      <button onclick="togglePopup()" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-400">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="bg-gray-800 shadow-lg rounded-lg p-6">
              <h1 class="text-3xl font-bold text-primary mb-4">
                Invite Friends to Earn Over <br />
                1710 USDT and 30% Commission
              </h1>
              <p class="text-gray-400 mb-4">Earn rewards together with your friends via Spot, Derivatives, Copy Trading, and Nexia Card.</p>
              <button class="bg-primary text-primary-foreground py-2 px-4 rounded-lg hover:bg-primary/80">Invite Friends</button>
            </div>
          </div>
          
          
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <!-- Yearly Breakup -->
                <div class="min-h-screen flex items-center justify-center">
                  <div class="rounded-xl p-8 w-full max-w-lg mx-auto bg-gray-800 text-white shadow-lg">
                    <h2 class="font-extrabold mb-8 text-left text-white">Convert your assets</h2>
          
                    <div class="mb-6">
                      <select class="w-full px-4 py-3 border border-gray-600 rounded-lg bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-yellow-500">
                        <option>Funding</option>
                      </select>
                    </div>
          
                    <div class="p-6 rounded-xl mb-6 bg-gray-900">
                      <div class="flex justify-between items-center mb-4">
                        <div class="flex items-center">
                          <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.png" alt="BTC" class="w-8 h-8 mr-3">
                          <span class="font-semibold text-lg">BTC</span>
                        </div>
                        <div class="text-sm text-gray-400">Available: 0 BTC</div>
                      </div>
                      <div class="text-sm text-gray-400 mb-4">0.000 <a href="#" class="text-yellow-500 hover:text-yellow-300">All</a></div>
                    </div>
          
                    <div class="flex justify-center mb-6">
                      <button class="p-2 rounded-full transition duration-300">
                        <img src="{{ url_for('static', filename='convert.PNG') }}" alt="Convert Icon" class="w-6 h-6">
                      </button>
                    </div>
          
                    <div class="p-6 rounded-xl mb-6 bg-gray-900">
                      <div class="flex justify-between items-center mb-4">
                        <div class="flex items-center">
                          <img src="https://cryptologos.cc/logos/tether-usdt-logo.png" alt="USDT" class="w-8 h-8 mr-3">
                          <span class="font-semibold text-lg">USDT</span>
                        </div>
                      </div>
                      <div class="text-sm text-gray-400 mb-4">--</div>
                    </div>
          
                    <div class="flex justify-between mb-6 text-gray-400">
                      <span>1 BTC ≈ -- USDT</span>
                    </div>
          
                    <div class="flex justify-between items-center mb-6 text-gray-400">
                      <span>Transaction Fees</span>
                      <span class="text-green-400 font-medium">0 Fee</span>
                    </div>
          
                    <div class="flex justify-between items-center mb-6 text-gray-400">
                      <span>Receivables</span>
                      <span>-- USDT</span>
                    </div>
          
                    <button class="w-full bg-yellow-500 text-gray-800 py-3 rounded-lg font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-yellow-600 hover:bg-yellow-600 transition-all">
                      Get a Quote
                    </button>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-12">
                <!-- Monthly Earnings -->
                <div class="card bg-gray-800 text-white rounded-lg shadow-lg">
                  <div class="card-body p-6">
                    <div class="row align-items-start">
                      <div class="col-8">
                        <h5 class="card-title mb-9 font-semibold text-white">Total Earnings</h5>
                        <h4 class="font-semibold mb-3 text-white">$0.00</h4>
                        <div class="d-flex align-items-center pb-1">
                          <span class="mr-2 rounded-circle bg-red-200 w-6 h-6 flex items-center justify-center">
                            <i class="ti ti-arrow-down-right text-red-700"></i>
                          </span>
                          <p class="text-white mr-1 text-lg mb-0">+0%</p>
                          <p class="text-lg mb-0">Accumulated</p>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-end">
                          <div class="text-white bg-secondary rounded-circle p-6 d-flex items-center justify-content-center">
                            <i class="ti ti-currency-dollar text-lg"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="earning"></div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="bg-gray-900 text-white">
            <div class="max-w-7xl mx-auto py-12 px-6 sm:px-8 lg:px-10">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div>
                  <h2 class="text-3xl font-bold text-yellow-500 mb-4">NexiaCoin Loans</h2>
                  <p class="text-xl font-semibold text-gray-300 mb-6">
                    Borrow for Spot/Margin/Futures Trading or staking to earn high APY.
                  </p>
                  <ul class="space-y-4 text-gray-400">
                    <li class="flex items-center">
                      <svg
                        class="w-6 h-6 text-green-500 mr-3"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 3a1 1 0 011 1v3a1 1 0 102 0V4a1 1 0 011-1h2a1 1 0 110 2h-2v2a1 1 0 11-2 0V5h-2a1 1 0 110-2h2zm5 12a1 1 0 100-2H5a1 1 0 100 2h10zm1-5a1 1 0 100-2H4a1 1 0 100 2h12zm1-5a1 1 0 100-2H5a1 1 0 100 2h11z"
                        ></path>
                      </svg>
                      Repay at any time
                    </li>
                    <li class="flex items-center">
                      <svg
                        class="w-6 h-6 text-green-500 mr-3"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 3a1 1 0 011 1v3a1 1 0 102 0V4a1 1 0 011-1h2a1 1 0 110 2h-2v2a1 1 0 11-2 0V5h-2a1 1 0 110-2h2zm5 12a1 1 0 100-2H5a1 1 0 100 2h10zm1-5a1 1 0 100-2H4a1 1 0 100 2h12zm1-5a1 1 0 100-2H5a1 1 0 100 2h11z"
                        ></path>
                      </svg>
                      No transaction fee
                    </li>
                    <li class="flex items-center">
                      <svg
                        class="w-6 h-6 text-green-500 mr-3"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 3a1 1 0 011 1v3a1 1 0 102 0V4a1 1 0 011-1h2a1 1 0 110 2h-2v2a1 1 0 11-2 0V5h-2a1 1 0 110-2h2zm5 12a1 1 0 100-2H5a1 1 0 100 2h10zm1-5a1 1 0 100-2H4a1 1 0 100 2h12zm1-5a1 1 0 100-2H5a1 1 0 100 2h11z"
                        ></path>
                      </svg>
                      Partial Liquidation
                    </li>
                    <li class="flex items-center">
                      <svg
                        class="w-6 h-6 text-green-500 mr-3"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 3a1 1 0 011 1v3a1 1 0 102 0V4a1 1 0 011-1h2a1 1 0 110 2h-2v2a1 1 0 11-2 0V5h-2a1 1 0 110-2h2zm5 12a1 1 0 100-2H5a1 1 0 100 2h10zm1-5a1 1 0 100-2H4a1 1 0 100 2h12zm1-5a1 1 0 100-2H5a1 1 0 100 2h11z"
                        ></path>
                      </svg>
                      Low rate loan staking
                    </li>
                    <li class="flex items-center">
                      <svg
                        class="w-6 h-6 text-green-500 mr-3"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 3a1 1 0 011 1v3a1 1 0 102 0V4a1 1 0 011-1h2a1 1 0 110 2h-2v2a1 1 0 11-2 0V5h-2a1 1 0 110-2h2zm5 12a1 1 0 100-2H5a1 1 0 100 2h10zm1-5a1 1 0 100-2H4a1 1 0 100 2h12zm1-5a1 1 0 100-2H5a1 1 0 100 2h11z"
                        ></path>
                      </svg>
                      Simple Earn (Flexible) assets can be collateralized in Flexible
                      Loan
                    </li>
                  </ul>
                </div>
                <div>
                  <h2 class="text-2xl font-bold text-yellow-500 mb-4">
                    My Loan
                    <span class="bg-yellow-500 text-gray-800 text-sm font-normal px-2 py-1 rounded ml-2">
                      You have no active loans
                    </span>
                  </h2>
          
                  <div class="mb-6">
                    <h3 class="text-lg font-semibold text-gray-400 mb-2">Active Loan</h3>
                    <a
                      href="#"
                      class="text-yellow-500 hover:underline hover:text-yellow-400 transition duration-300"
                      >Ongoing Orders & Asset Overview</a
                    >
                  </div>
                  <div>
                    <h3 class="text-lg font-semibold text-gray-400 mb-2">Loan History</h3>
                    <a
                      href="#"
                      class="text-yellow-500 hover:underline hover:text-yellow-400 transition duration-300"
                      >Check all loan history</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <div class=" bg-gray-800 text-white">
          <div class="p-6 bg-gray-800 text-white">
            <h1 class="text-2xl md:text-3xl text-white font-bold text-foreground mb-4">Trade Summary</h1>
            <!-- Main container for grid sections with dark mode theme -->
<div class="flex flex-col space-y-6 bg-gray-900 p-6 rounded-lg shadow-lg">
  <!-- Section 1: Futures Grid -->
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-md transition ">
    <!-- Icon and Arrow -->
    <div class="flex items-center justify-between">
      <img src="https://openui.fly.dev/openui/24x24.svg?text=📧" alt="email-icon" class="w-6 h-6" />
      <img src="https://openui.fly.dev/openui/24x24.svg?text=➡️" alt="arrow-icon" class="w-6 h-6" />
    </div>
    <!-- Content Description -->
    <div class="mt-6">
      <h2 class="text-xl font-semibold text-white">
        Futures Grid
        <span class="text-yellow-400">🔥</span>
      </h2>
      <p class="text-gray-400 mt-4">
        Multiply your earnings by 100x | Ideal for any market conditions.
      </p>
      <p class="text-yellow-400 font-medium mt-4">
        Highest APR <span class="text-green-500">78,005,989%</span>
      </p>
    </div>
  </div>

  <!-- Section 2: Futures Martingale -->
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-md">
    <!-- Icon and Arrow -->
    <div class="flex items-center justify-between">
      <img src="https://openui.fly.dev/openui/24x24.svg?text=🔗" alt="link-icon" class="w-6 h-6" />
      <img src="https://openui.fly.dev/openui/24x24.svg?text=➡️" alt="arrow-icon" class="w-6 h-6" />
    </div>
    <!-- Content Description -->
    <div class="mt-6">
      <h2 class="text-xl font-semibold text-white">Futures Martingale</h2>
      <p class="text-gray-400 mt-4">
        Double down and bounce back quickly from losses!
      </p>
      <p class="text-yellow-400 font-medium mt-4">
        Highest APR <span class="text-green-500">2,231%</span>
      </p>
    </div>
  </div>

  <!-- Section 3: Futures Combo -->
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-md">
    <!-- Icon and Arrow -->
    <div class="flex items-center justify-between">
      <img src="https://openui.fly.dev/openui/24x24.svg?text=🔒" alt="lock-icon" class="w-6 h-6" />
      <img src="https://openui.fly.dev/openui/24x24.svg?text=➡️" alt="arrow-icon" class="w-6 h-6" />
    </div>
    <!-- Content Description -->
    <div class="mt-6">
      <h2 class="text-xl font-semibold text-white">
        Futures Combo
        <span class="text-accent bg-accent-foreground px-2 py-1 rounded">New</span>
      </h2>
      <p class="text-gray-400 mt-4">
        Create and maintain an auto-rebalancing portfolio of long/short positions
      </p>
      <p class="text-yellow-400 font-medium mt-4">
        Highest APR <span class="text-green-500">407.28%</span>
      </p>
    </div>
  </div>

  <!-- Section 4: Spot Grid -->
  <div class="bg-gray-800 text-white p-6 rounded-lg shadow-md">
    <!-- Icon and Arrow -->
    <div class="flex items-center justify-between">
      <img src="https://openui.fly.dev/openui/24x24.svg?text=📊" alt="chart-icon" class="w-6 h-6" />
      <img src="https://openui.fly.dev/openui/24x24.svg?text=➡️" alt="arrow-icon" class="w-6 h-6" />
    </div>
    <!-- Content Description -->
    <div class="mt-6">
      <h2 class="text-xl font-semibold text-white">Spot Grid</h2>
      <p class="text-gray-400 mt-4">
        Buy low & sell high automatically | Ideal for sideways markets
      </p>
      <p class="text-yellow-400 font-medium mt-4">
        Highest APR <span class="text-green-500">595,351%</span>
      </p>
    </div>
  </div>

  <!-- Button for Daily Picks -->
  <button class="bg-yellow-500 text-gray-900 font-semibold px-6 py-3 rounded-lg transition hover:bg-yellow-400">
    Daily Picks
  </button>
</div>

          <div class="col-lg-8 d-flex align-items-stretch">
            <div >
              <div>
                  <!-- New Listing Section -->
                  <div>
                      <div class="flex justify-between items-center mb-2">
                          <h2 class=" text-white font-semibold text-lg">New Listing</h2>
                          <span class="text-blue-500 cursor-pointer">View More Coins</span>
                      </div>
                      <div>
                          <div class="flex justify-between items-center mb-2">
                              <div class="flex items-center">
                                  <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240620/a7dcb6cd-bcd9-4bdd-91d0-15da9278dff8.png" alt="ZRO" class="w-6 h-6 mr-2">
                                  <span>ZRO LayerZero</span>
                              </div>
                              <div class="text-right">
                                  <span>$3.90</span>
                                  <span class="text-red-500">-5.34%</span>
                              </div>
                          </div>
                          <div class="flex justify-between items-center mb-2">
                              <div class="flex items-center">
                                  <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240524/ee977d5b-2fbb-4589-8856-8f5bdefd89eb.png" alt="LISTA" class="w-6 h-6 mr-2">
                                  <span>LISTA Lista</span>
                              </div>
                              <div class="text-right">
                                  <span>$0.4426</span>
                                  <span class="text-red-500">-15.82%</span>
                              </div>
                          </div>
                          <div class="flex justify-between items-center mb-2">
                              <div class="flex items-center">
                                  <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240617/82ce158f-1dbf-4835-9954-1d6976386de7.png" alt="ZK" class="w-6 h-6 mr-2">
                                  <span>ZK zkSync</span>
                              </div>
                              <div class="text-right">
                                  <span>$0.1411</span>
                                  <span class="text-red-500">-10.47%</span>
                              </div>
                          </div>
                          <div class="flex justify-between items-center mb-2">
                              <div class="flex items-center">
                                  <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240607/fe11046c-7f8f-4863-b4c8-b0e0a35a6b57.png" alt="IO" class="w-6 h-6 mr-2">
                                  <span>IO IO.NET</span>
                              </div>
                              <div class="text-right">
                                  <span>$2.06</span>
                                  <span class="text-red-500">-13.11%</span>
                              </div>
                          </div>
                      </div>
                  </div>

                  
          
                  <!-- News Section -->
                  <div class="p-4">
                      <ul class="list-disc list-inside space-y-2">
                          <li>DOGE Value Drops Below 0.1 USDT, Experiences 10.11% Decline in 24 Hours</li>
                          <li>Cryptocurrency Market Experiences $172 Million Liquidation in 24 Hours</li>
                          <li>Significant Drop in Altcoin Market Observed</li>
                          <li>Bitcoin(BTC) Drops Below 55,000 USDT with a 5.27% Decrease in 24 Hours</li>
                          <li>DOGE Value Drops Below 0.1 USDT, Experiences 10.11% Decline in 24 Hours</li>
                          <li>Cryptocurrency Market Experiences $172 Million Liquidation in 24 Hours</li>
                          <li>Significant Drop in Altcoin Market Observed</li>
                          <li>Bitcoin(BTC) Drops Below 55,000 USDT with a 5.27% Decrease in 24 Hours</li>
                      </ul>
                  </div>
              </div>
            </div>
            
          </div>
          
           <!-- New Tailwind content starts here -->
           <div class="container mx-auto p-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
              <!-- Hot Coins Section -->
              <div class="bg-gray-800 shadow rounded-lg p-4">
                <h2 class="text-xl text-white font-bold mb-4">Hot Coins</h2>
                <div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/binance-coin-bnb-logo.png" alt="BNB" class="h-6 w-6 mr-2">
                      <span>BNB</span>
                    </div>
                    <div>$480.10</div>
                    <div class="text-red-500">-8.03%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/bitcoin-btc-logo.png" alt="BTC" class="h-6 w-6 mr-2">
                      <span>BTC</span>
                    </div>
                    
                    <div>$55,128.00</div>
                    <div class="text-red-500">-4.98%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/ethereum-eth-logo.png" alt="ETH" class="h-6 w-6 mr-2">
                      <span>ETH</span>
                    </div>
                    <div>$2,887.97</div>
                    <div class="text-red-500">-5.42%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/pepe-pepe-logo.png" alt="PEPE" class="h-6 w-6 mr-2">
                      <span>PEPE</span>
                    </div>
                    <div>$0.00000804</div>
                    <div class="text-red-500">-16.34%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/solana-sol-logo.png" alt="SOL" class="h-6 w-6 mr-2">
                      <span>SOL</span>
                    </div>
                    <div>$129.40</div>
                    <div class="text-red-500">-8.71%</div>
                  </div>
                  <!-- Add more items similarly -->
                </div>
              </div>
              <!-- Top Gainers Section -->
              <div class="bg-gray-800 shadow rounded-lg p-4">
                <h2 class="text-xl font-bold text-white mb-4">Top Gainers</h2>
                <div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20231212/16d9dbb7-5964-45c4-ace7-2bfb1fe6bda8.png" alt="1000SATS" class="h-6 w-6 mr-2">
                      <span>1000SATS</span>
                    </div>
                    <div>$0.0001531</div>
                    <div class="text-green-500">+17.95%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/images/20191211/5834e785-a402-4a1d-b7ed-9269bfc019c1.png" alt="ELF" class="h-6 w-6 mr-2">
                      <span>ELF</span>
                    </div>
                    <div>$0.4164</div>
                    <div class="text-green-500">+17.13%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240404/5684a871-9895-4369-94e2-c6f6fd6959c7.png" alt="SAGA" class="h-6 w-6 mr-2">
                      <span>SAGA</span>
                    </div>
                    <div>$1.15</div>
                    <div class="text-green-500">+8.54%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20230526/545cb780-2927-444b-b7a6-269da1a35c2c" alt="GLM" class="h-6 w-6 mr-2">
                      <span>GLM</span>
                    </div>
                    <div>$0.318</div>
                    <div class="text-green-500">+6.78%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/images/20191211/8ad36e2c-526c-4fbb-87d5-2bc66d2598e8.png" alt="ARDR" class="h-6 w-6 mr-2">
                      <span>ARDR</span>
                    </div>
                    <div>$0.0641</div>
                    <div class="text-green-500">+5.67%</div>
                  </div>
                  <!-- Add more items similarly -->
                </div>
              </div>
              <!-- Top Losers Section -->
              <div class="bg-gray-800 shadow rounded-lg p-4">
                <h2 class="text-xl font-bold text-white mb-4">Top Losers</h2>
                <div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240305/ca762203-3b9c-4315-a052-fca62900b68e.png" alt="WIF" class="h-6 w-6 mr-2">
                      <span>WIF</span>
                    </div>
                    <div>$1.60</div>
                    <div class="text-red-500">-19.49%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240524/ee977d5b-2fbb-4589-8856-8f5bdefd89eb.png" alt="LISTA" class="h-6 w-6 mr-2">
                      <span>LISTA</span>
                    </div>
                    <div>$0.4469</div>
                    <div class="text-red-500">-18.15%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240523/e0969db2-d7c3-43b5-be1f-564b352c228b.png" alt="ERN" class="h-6 w-6 mr-2">
                      <span>ERN</span>
                    </div>
                    <div>$1.92</div>
                    <div class="text-red-500">-16.44%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://cryptologos.cc/logos/pepe-pepe-logo.png" alt="PEPE" class="h-6 w-6 mr-2">
                      <span>PEPE</span>
                    </div>
                    <div>$0.00000804</div>
                    <div class="text-red-500">-16.34%</div>
                  </div>
                  <div class="flex justify-between items-center py-2 border-b">
                    <div class="flex items-center">
                      <img src="https://bin.bnbstatic.com/image/admin_mgs_image_upload/20240103/a18e02bc-282b-4a44-ab6c-6e20b89a4132.png" alt="EDU" class="h-6 w-6 mr-2">
                      <span>XAI</span>
                    </div>
                    <div>$0.5696</div>
                    <div class="text-red-500">-15.58%</div>
                  </div>
                  <!-- Add more items similarly -->
                </div>
              </div>
            </div>
          </div>
    <!-- New Tailwind content ends here -->
          
        </div>
        
  
          
          
          
          
          
          </div>
        </div>
        
        
        
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../assets/js/dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const dropdownToggle = document.querySelector('[data-collapse-toggle="dropdown-example"]');
    const dropdownMenu = document.getElementById('dropdown-example');

    dropdownToggle.addEventListener('click', function () {
      dropdownMenu.classList.toggle('hidden');
    });
  });
</script>

</script>
<script>
  function togglePopup() {
      const popup = document.getElementById('popup-box');
      popup.classList.toggle('hidden');
  }
</script>
</body>

</html>